<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="#home"><img src="/images/swas-logo-white.png" style="width: 8em" alt="" id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#overview" class="nav-link">Overview</a></li>
                <li class="nav-item"><a href="#stakeholders" class="nav-link">Stakeholders</a></li>
                <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
                <li class="nav-item cta"><a href="#getinvolved" class="nav-link"><span>Get involved!</span></a></li>
            </ul>
        </div>
    </div>
</nav>
